@import '../global/color.scss';

.priceNow {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: $color-dark-charcoal;
}

.savingPriceWrapper {
  width: fit-content;
  height: 23px;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: $color-vivid-cerise-transparent;
}

.savingPrice {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: $color-vivid-cerise;
}

.rrpPrice {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: $color-argent;
}

.recommendedProduct {
  color: $color-vivid-cerise;
}