// www.color-name.com

// Global Colors
$color-white: #ffffff;
$color-black: #000000;

// Greys
$color-dark-charcoal: #333333;
$color-light-gray: #D3D3D3;
$color-argent: #BFBFBF;
$color-american-silver: #CFCFCF;

// Theme
$color-green-crayola: #27AE60;
$color-vivid-cerise: #E61577;
$color-vivid-cerise-transparent: #ED143D33;
$color-amaranth-deep-purple: #992478;
$color-maize: #F2C94C;